@font-face {
    font-family: RupsterScriptFree;
    src: url(../font/rupsterscriptfree.ttf);
}

* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 36px;
  color: #081D3C;
  margin: 48px 0;
}

.block {
  margin: 0;
  max-width: none;
  background-color: #FFFFFF;
  height: 100vh;
}


/* Main Block */

.main-block{
  background: url(../images/main_block_bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  min-height: 750px;
}

.main-block ul{
  margin: 48px 0;
  line-height: 25px;
  font-size: 18px;
}

.main-block ul li{
  margin-right: 39px;
}

.main-block ul li a{
  color: #081D3C;
  text-decoration: none;
}

.main-block ul li a:hover{
  color: #081D3C;
  text-decoration: underline;
}


.main-block-logo{
  margin: 80px;
}

.main-block-text p{
  font-weight: 300;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: 1%;
}

.main-block-buttons{
  margin: 80px 0;
}

.main-block-btn-1{
  width: 160px;
  height: 45px;
  background: none;
  border-image: linear-gradient(180deg, #3CA1BC 0%, #175768 100%);
  border-image-slice: 1;
  border-width: 1px;
  border-radius: 3px;
  line-height: 18px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3%;
  color: #175768;
  text-transform: uppercase;
  text-align: center;
}

.main-block-btn-2{
  width: 160px;
  height: 45px;
  border-image: linear-gradient(180deg, #3CA1BC 0%, #175768 49%, #092544 100%);
  background: linear-gradient(180deg, #3CA1BC 0%, #175768 49%, #092544 100%);
  border-image-slice: 1;
  border-width: 1px;
  border-radius: 3px;
  line-height: 18px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 3%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

/* Turbo Block */

.turbo-block a {
  margin: 0 15px;
}

/* About Us Block  */

.about-us-block{
  min-height: 750px;
  background: url(../images/about_us_block_bg.png) no-repeat center center;
}

.about-us-block-footer{
  display: none;
}

.about-us-ksenia li{
  list-style-image: url(../images/about_us_block_ul_ksenia.png);
}

.about-us-ksenia-title{
  font-family: RupsterScriptFree;
  font-size: 36px;
  background: url(../images/about_us_block_ksenia.png) no-repeat center center;
  background-size: cover;
  line-height: 80px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.about-us-mila li{
  list-style-image: url(../images/about_us_block_ul_mila.png);
}

.about-us-mila-title{
  font-family: RupsterScriptFree;
  font-size: 36px;
  background: url(../images/about_us_block_mila.png) no-repeat center center;
  background-size: cover;
  line-height: 80px;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Meet Us */
.meet-us-block-title{
  margin: 48px 0 0;    
}

.meet-us-block-subtitle{
  margin: 0 0 48px;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
}

.meet-us-content{
  width: 75%;
  margin: auto;
}

.meet-us-thumbnail{
  position: relative;
  margin: 15px 15px;
}

.meet-us-thumbnail-content{
  position: absolute;
  top: 105px;
  left: 45px;
  font-family: RupsterScriptFree;
  font-size: 48px;
  text-align: center;
  color: #FFFFFF;
}

/* How That Goes */

.how-that-goes-content{
  position: relative;
}

.how-that-goes-prev{
  position: absolute;
  height:45px;
  top: 137px;
  left: -65px;
}

.how-that-goes-next{
  position: absolute;
  height: 45px;
  top: 137px;
  right: -65px;
}

/* Contact Us */

.contact-us-block{
  height: 449px;
  background: url(../images/contact_us_block_bg.png) no-repeat center center;
}

.contact-us-block-title{
  font-weight: 600;
  padding: 55px 0 0;
}

.contact-us-block-content{
  margin: 56px 0;
}

.contact-us-block-logo{
    display: block;
}

.name{
  line-height: 34px;
  font-size: 24px; 
  font-weight: 600;
  color: #081D3C;
}

.phone{
  line-height: 26px;
  font-size: 18px;
  color: #081D3C;
}

.social img{
  width: 28px;
}

/* Button to top */

#btnToTop{
    display: none;
    position: fixed;
    font-weight: 300;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    border-image: linear-gradient(180deg, #3CA1BC 0%, #175768 49%, #092544 100%);
    background: linear-gradient(180deg, #3CA1BC 0%, #175768 49%, #092544 100%);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

/* Slick */
.slick-slide{
  margin: 0 15px;
  width: 300px;
}

/* Bootstrap changes */

@media (max-width: 1345px){
    .about-us-block{
        min-height: 350px;
        background: none;
    }
    
    .about-us-block-middle{
        display: none;
    }
    
    .about-us-block-footer{
        display: block;
    }
}

@media (max-width: 830px){
    
    .main-block-logo{
        margin: 35px auto;
    }
    
    .main-block-logo img{
        text-align: left;
        width: 333px;
    }
    
    .meet-us-thumbnail img{
        width: 230px;
        margin: 10px 0;
    }
    
    .meet-us-thumbnail-content{
        font-size: 26px;
    }
    
    .contact-us-block-content{
        margin: 10px 0;
    }
    
    .contact-us-block-title{
        padding: 10px 0;
        margin: 48px 0 0;
    }
    
    .contact-us-block-logo{
        display: none;
    }
    
    .name{
        margin: 10px 0;
    }
    
    /* Arrow right (slick) */
    .how-that-goes-next{
        display: none;
    }
    
    /* Arrow left (slick) */
    .how-that-goes-prev{
        display: none;
    }
    
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 750px;
        margin: 1.75rem auto;
    }
}